<!DOCTYPE html>
<html>
  <head>
    <title>Binding</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  </head>

  <body>
    <div id="app">
      <h1 :style="{color: isRed}" :class="nameClass">{{ message }}</h1>
      <input v-model="text" type="text">
      <p v-if="handle">Tôi đang bị watch, mỗi khi giá trị input thay đổi, tôi sẽ biến mất hoặc xuất hiện</p>
    </div>
    <script>
      const { createApp, ref, watch } = Vue

      const app = createApp({
          setup() {
            const message =  ref('MazirGaming')
            const isRed =  ref('red')
            const nameClass = ['background', 'title']
            const text = ref('')
            const handle = ref(true)

            watch(text, ()=>{
              handle.value = !handle.value
            })
            
            return {
              message,
              isRed,
              nameClass,
              text,
              handle
            }

          }
      }).mount('#app')
  </script>
  </body>
</html>